<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cognitiveImageTagging" type="Verndale.CognitiveImageTagging.Configuration.CognitiveImageTaggingConfiguration, Verndale.CognitiveImageTagging"/>
  </configSections>
  <!--  
  subscriptionKey = Every web API call of Computer Vision requires a pay-per-use subscription key. 
        https://azure.microsoft.com/en-us/pricing/details/cognitive-services/
    
  cognitiveServicesUri = You must use the same Azure region in your REST API method as you used to
        get your subscription keys. For example, if you got your subscription keys
        Free trial subscription keys are generated in the "westcentralus" region.
        
  textInImageConfidenceLevel - Percentage at which the api is trusted to have detected text in an image.
        NOTE: To analyze the text in an image is two additional calls to the API.
        Default: .9
  
  captionConfidenceLevel - Percentage at which the api is trusted to have provided an accurate caption. 
        Default: .75     
  
  visualFeatures - Comma-separated list of analysis.
        Available options: Description,Color,Tags,Brands,Adult,Faces,ImageType,Objects
        Default: Description,Tags
        Pricing varies based on the visual features chosen.  See pricing:
        https://azure.microsoft.com/en-us/pricing/details/cognitive-services/
        
  details - Comma-separated list of detailed analysis
      Available options:  Celebrity, Landmarks
      Default: none
      Pricing varies based on the visual features chosen.  See pricing:
      https://azure.microsoft.com/en-us/pricing/details/cognitive-services/
  -->
  <cognitiveImageTagging
    subscriptionKey="dummyvalue"
    cognitiveServicesUri="dummyvalue"
    textInImageConfidenceLevel=".9"
    captionConfidenceLevel=".75"
    visualFeatures="Description,Tags"
    details=""
    detectOrientation="true"/>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>